// colors

$dark-black      : #18191D;
$dark-black-900  : #1A1A1D;
$dark-black-800  : #1F1F23;
$white           : #ffffff;

$gray-500        : #2D2F33;
$gray-400        : #383A3D;
$gray-600        : #222428;
$blue-500        : #00A3FF;
$blue-800        : #5279EC;
$blue-200        : #7A91CC;
$green           : #00FFAA;
$red-error       : #F54562;
$red-error-rgba  : rgba(245, 69, 98, 0.06);
;

$red             : #FF5E00;
$orange          : #FFAB00;


$dark-black-0-12 : rgba(224, 224, 255, 0.12);
$orange-rgba     : rgba(255, 171, 0, 0.06);
$dark-black-0-24 : rgba(9, 13, 20, 0.24);
$dark-black-0-02 : rgba(224, 224, 255, 0.02);
$green-0-06      : rgba(0, 255, 170, 0.06);
$blue-rgba       : rgba(0, 163, 255, 0.06);
$blue-rgba-0-12  : rgba(82, 121, 236, 0.06);

$dark-black-0-6  : rgba(224, 224, 255, 0.6);
$dark-black-0-8  : rgba(224, 224, 255, 0.8);
$dark-black-0-48 : rgba(9, 13, 20, 0.48);
;
$dark-black-0-06 : rgba(224, 224, 255, 0.06);
$dark-black-0-03 : rgba(224, 224, 255, 0.03);
$dark-black-0-04 : rgba(224, 224, 255, 0.04);
$dark-white-0-24 : rgba(45, 47, 51, 0.24);

// Font sizes

$font-size-8     : 8px;
$font-size-10    : 10px;
$font-size-12    : 12px;
$font-size-14    : 14px;
$font-size-13    : 13px;
$font-size-16    : 16px;
$font-size-18    : 18px;
$font-size-20    : 20px;
$font-size-24    : 24px;
$font-size-28    : 28px;
$font-size-32    : 32px;
$font-size-30    : 30px;
$font-size-40    : 40px;
$font-size-46    : 46px;
$font-size-48    : 48px;

//page withs

$max-width-1200  : 1200px;
$max-width-1100  : 1100px;
$max-width-991   : 991px;
$max-width-767   : 767px;
$max-width-576   : 576px;

// transitions
$transition      : 0.3s;
