.P-school-action-title {
  width: 350px;
  height: 100vh;
  border-right: 2px solid #22babf;
}

.P-admin-action-title{
  width: 350px;
  height: 70px;
  background-color: #22babf;

}
.P-admin-action-title ul li {
  width: 350px;
  height: 70px;
}

.P-category-ul  li {
  color: red;
  font-family: "Fira Code";
  border: 1px solid magenta;
  text-align: center;
}

.P-category-ul a{
  width: 350px;
  padding: 3px 0;
  //border: 1px solid green;
}