@import '../src/assets/style/index';
//@import "../src/assets/icon-fonts/icomoon-v1.0/style.css";

.hh{
 overflow-x: scroll;
}

.box{
 width: 100px;
 height: 100px;
 background-color: #114d68;
 margin: 15px;
}
